body{
    max-width: 1500px;
    min-width: 1000px;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    padding-right: 5%;
}

.list{
    display: flex;
    justify-content: space-between;
}

.list-item{
    color: rgb(126, 124, 124);
}

.list-item:not(:last-child){
    padding-right: 30px;
}

.logo{
    width: 15%;
    padding-left: 3%;
}

.tilte{
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 3%;
    box-sizing: content-box;
}

.picture{
    position: absolute;
    width: 50%;
    height: auto;
    margin-left: 50%;
}

img:first-of-type{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.catch-copy{
    width: 70%;
    height: auto;
}

.sentence{
    position: absolute;
    box-sizing: border-box;
    margin-left:20% ;
    font-size: 110px;
    line-height: 120%;
    font-family: 'Just Another Hand', cursive;
    color:hotpink;
    width: 80%;
    height: auto;
} 


.side-title{
    position: absolute;
    font-size: 20px;
    box-sizing: border-box;
    margin-left:20% ;
    top:60% ;
    font-family: 'Just Another Hand', cursive;
    color:hotpink;
    font-weight: bold;
    width: 80%;
    height: auto;
}

span:nth-child(n-2){
    color: lightskyblue;
}

span:nth-child(n+3){
    color: white;
}

.sentence1{
    position: absolute;
    top: 70%;
    box-sizing: border-box;
    margin-left:20% ;
    color: rgb(126, 124, 124);
    font-size: 15px;
    width: 80%;
    height: auto;
}

.news{
    position: relative;
    width: 100%;
    height: 500px;
    padding-top:1% ;
}

.news-info{
   width: 75%;
   margin-left:25%;
   height: auto;
}

.pink{
    color: hotpink;
    font-family: 'Just Another Hand', cursive;
    font-size: 20px;
}

.news-ttl{
    font-size: 30px;
    color: rgb(126, 124, 124);
    padding-top: 3%;
    padding-bottom: 4%;
}

.information{
   font-size: 15px;
   margin-bottom: 3%;
   border-bottom:1px solid gray ;
   padding-bottom: 1%;
   width: 75%;
}

 .information:first-of-type{     
   border-top: 1px solid gray;
   padding-top: 5%;
}

a{
   text-decoration: none;
   color: black;
}

.information span:nth-child(n) {
    color: white;
    border-radius: 20px;
    background-color: rgb(182, 3, 101);
    margin: 0 2%;
    padding: 0 1%;
}
 
.about{
    position: relative;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-color: rgb(253, 251, 250);
}

.about-ttl{
    text-align: center;
    color: hotpink;
    font-family: 'Just Another Hand', cursive;
    font-size: 20px;
    padding-top: 3%;
}

.TC-ttl{
    text-align: center;
    font-size: 25px;
    color: rgb(126, 124, 124);
    padding-top: 3%;
}

.about-picture{
    position: absolute;
    width: 25%;
    right: 15%;
    top: 35%;
}

.about-explanation{
    position: absolute;
    left: 15%;
    top: 35%;
    font-size: 15px;
    color: rgb(126, 124, 124);
}

 .about-explanation2{
    position: absolute;
    top: 57%;
    left: 15%;
    color: rgb(126, 124, 124);
}

.service{
    width: 100%;
    height: 500px;
    position: relative;
}

.service-ttl{
    font-size: 20px;
    color: hotpink;
    position: absolute;
    left: 15%;
    font-family: 'Just Another Hand', cursive;
}

.service-content{
    position: absolute;
    font-size: 17px;
    left: 15%;
    top: 5%;
    color: rgb(117, 116, 116);
    font-weight: bold;
}

.EC{
    position: absolute;
    left: 15%;
    width: 35%;
    height: 80%;
    top:10%;
    background-color: mediumvioletred;
}

.svg{
    position: absolute;
    width: 40%;
    height: auto;
    left: 30%;
}

.ser-ex{
    text-align: center;
    color: white;
    padding-top: 50%;
    font-size: 15px;
}

.ser-ex2{
    color: white;
    padding-left: 7%;
    padding-top: 5%;
    font-size: 14px;
    line-height: 140%;
}

.EC2{
    position: absolute;
    left: 50%;
    width: 35%;
    height: 40%;
    top: 10%;
    background-color: rgb(192, 105, 160);
}

.svg2{
    position: absolute;
    width: 30%;
    height: auto;
    left: 0;
    top: 10%;
}

.ser-ex3{
    color: white;
    padding-top: 10%;
    padding-left: 30%;
    font-size: 15px;
}

.ser-ex4{
    color: white;
    padding-left: 30%;
    padding-top: 5%;
    font-size: 14px;
    line-height: 140%;
}   

.EC3{
    position: absolute;
    left: 50%;
    width: 35%;
    height: 40%;
    top: 50%;
    background-color: rgb(110, 80, 99);
    font-size: 15px;
}

.ser-ex5{
    color: white;
    padding-top: 10%;
    padding-left: 30%;
}

.ser-ex6{
    color: white;
    padding-left: 30%;
    padding-top: 5%;
    font-size: 14px;
    line-height: 140%;
}

.svg3{
    position: absolute;
    width: 30%;
    height: auto;
    left: 0;
    top: 10%;
}
.blog{
    position: relative;
    width: 100%;
    height: 500px;
    background-color:rgb(250, 248, 246);
}

.blog-ttl{
    font-size: 20px;
    color: hotpink;
    font-family: 'Just Another Hand', cursive;
    position: absolute;
    left: 15%;
    top:2%;
}

.blog-content{
    position: absolute;
    width: 85%;
    font-size: 20px;
    left: 15%;
    top: 7%;
    color: rgb(117, 116, 116);
    font-weight: bold;
}

.cards{
    position: absolute;
    left: 15%;
    width: 70%;
    height: 84%;
    display: flex;
    justify-content: space-between;
}

.blog-card1{
    width: 30%;
    margin-top: 10%;
    border: 1px solid rgb(141, 138, 138);
    border-radius: 6px;
    position: relative;
    background-color: white;
}

.Blog{
    width: 22%;
    text-align: center;
    background-color: rgb(199, 37, 123);
    color: white;
    position: absolute;
    bottom:95%;
    border-top-left-radius: 5px;
    
}

.blog-card2{
    width: 30%;
    margin-top: 10%;
    border: 1px solid rgb(141, 138, 138);
    border-radius: 6px;
    position: relative;
    background-color: white;
}


.Blog2{
    width: 22%;
    text-align: center;
    background-color: rgb(199, 37, 123);
    color: white;
    position: absolute;
    bottom:95%;
    border-top-left-radius: 5px;
}

.blog-card3{
    width: 30%;
    margin-top: 10%;
    border: 1px solid rgb(141, 138, 138);
    border-radius: 6px;
    position: relative;
    background-color: white;
}

.Blog3{
    width: 22%;
    text-align: center;
    background-color: rgb(199, 37, 123);
    color: white;
    position: absolute;
    bottom:95%;
    border-top-left-radius: 5px;
}

.b-sentence , .b-sentence2 ,.b-sentence3 {
    text-align: center;
    padding-top: 10%;
    color: rgb(117, 116, 116);
    font-size: 12px;
}

.b-picture img, .b-picture2 img, .b-picture3 img{
    border-top-right-radius:6px ;
    border-top-left-radius: 6px;
}

.b-footer{
    display: flex;
    justify-content: space-around;
}

.b-date{
    font-size: 12px;
    margin-top: 10%;
    color: rgb(117, 116, 116);
    font-weight: bold;
}

.b-h{
    font-size: 12px;
    margin-top: 10%;
    color: rgb(117, 116, 116);
    font-weight: bold;
}

.blog-btn{
    background: white;
    position: absolute;
    bottom: 3%;
    left: 44%;
    z-index: 1000;
    color: rgb(231, 8, 120) ;
    border-radius: 30px;
    border:  2px solid rgb(231, 8, 120) ;
    padding: 1%;
    margin-top: 13%;
    font-size: 20px;
    display: block;
}

.company{
    width: 100%;
    height: 400px;
    position: relative;
}

.com-ttl{
    position: absolute;
    color: hotpink;
    top: 5%;
    left: 18%;
    font-family: 'Just Another Hand', cursive;
}

.com-ttl1{
    position: absolute;
    color: rgb(117, 116, 116);
    top: 10%;
    left: 18%;
    font-size: 20px;
    font-weight: bold;
}

.table{
    width: 82%;
    position: absolute;
    top: 18%;
    padding-left: 18%;
}

th{
   text-align: center;
   border: 1px solid gray;
   background-color: rgb(250, 248, 246);
   width: 150px;
}

td{
    text-align: center;
    border: 1px solid gray;
    padding:  13px ;
    width: 560px;
    text-align: left;
}

tr{
    width: 100%;
}

.footer{
    width: 100%;
    height: 600px;
    position: relative;
}

.img1{
    position: absolute;
    width: 50%;
    z-index: 100;
}

.img2{
    position: absolute;
    width: 50%;
    right: 0;
}

img{
    width: 100%;
}

.recruit{
    position: absolute;
    display: block;
    bottom: 40%;
    left: 40%;
    z-index: 1000;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.interview{
    position: absolute;
    display: block;
    bottom: 40%;
    right: 35%;
    z-index: 1000;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.footer2{
    position: absolute;
    left: 37%;
    top: 60%;
    font-weight: bold;
    color: rgb(126, 124, 124);
}

.vertical_line{
    position: absolute;
    height: 30px;
    width: 1px;
    left: 50%;
    top: 75%;
    border-left:3px solid rgba(248, 4, 134, 0.781) ;
}

.footer-btn{
    position: absolute;
    top: 90%;
    left: 42%;
    border-radius: 30px;
    color: white;
    background:linear-gradient(90deg,deeppink,rgb(156, 28, 97)) ;
    box-shadow: 0 5px 0 rgba(247, 34, 116, 0.2);
    font-size: 20px;
    text-align: left;
    padding-left: 2% ;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    display: block;
}

.copy_right{
    width: 100%;
    height: 100px;
    position: relative;
    
}

.copy{
    position: absolute;
    top: 60%;
    font-size: 10px;
    width: 100%;
    text-align: center;
}